h2 {
    background-color: rgb(53, 53, 53);
    color: rgb(205, 140, 163);
    padding: 1rem;
    
}

body {
    background-color: rgb(40, 40, 40);
}

h4 {
    background-color: rgb(205, 140, 163);
    color: rgb(40, 40, 40);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1rem;
}

img {
    width: 100%;
}